#title {
  margin-right: 290px;
  font-size: 70px;
  font-weight: 300;
}

#search-area {
  display: flex;
  align-items: center;
  height: 80px;
  &__input {
    height: 100%;
    font-size: 24px;
    padding: 0 70px 0 70px;
    border: none;
    width: 600px;
  }
}

#search-button {
  border-radius: 0 40px 0 0;
  border: none;
  font-weight: 700;
  background: #1eb7ee;
  color: #fff;
  padding: 0 20px;
  width: 200px;
  font-size: 26px;
  height: 100%;
}

.btn {
  height: 60px;
}
